<div style="text-align: center">
    <label class="radio-inline"><input type="radio" name="colorRadio" value="list" checked> Add List</label>
    <label class="radio-inline"><input type="radio" name="colorRadio" value="image-upload"> Upload a Pic</label>
    <label class="radio-inline"><input type="radio" name="colorRadio" value="skip"> Skip</label>
</div>

        <div class="budget-class">
              <div class="list box" id="default">
                    <%= form_for(:budget, :url => {:action => "save_prod"}) do |form_f| %>
                        <%= hidden_field_tag 'user_id', current_user.id%>
                        <div class="wrap-input100-list validate-input m-b-16" data-validate="Please enter value">
            				<%= form_f.text_field :list_of_items, :class => "input100", :placeholder => "Add Product" %>
            				<span class="focus-input100"></span>
            	        </div>
                	    <%= form_f.submit "Add", :class=>"login100-form-btn-save" %><br/>
            	    <%end%>
            	    <br/><br/>
            	    
            	    <table class="table table-striped">
                      <tbody>
                        <% UserProduct.all.each do |product| %>
                          <% if product.user_id == current_user.id %>
                              <tr>
                                <td><%= product.products %></td>
                                <td>
                                  <%= link_to destroy_prod_budget_index_path(product_id: product.id),:data => {:confirm => 'Are you sure?', :method => :delete} do %>
                                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                                  <% end %>
                                </td>
                              </tr>
                          <%end%>
                        <% end %>
                      </tbody>
                    </table>
            </div>
            
            
             <%= form_for(:budget, :url => {:action => "create"}, :html => { :multipart => true }) do |form| %>
               <%= hidden_field_tag 'budget[user_id]', current_user.id%>
               <%= hidden_field_tag 'radio_type', params[:myKey]%>
            
                <div class="image-upload box">
                    <div class="file-upload" data-validate="Please enter value">
        				<label class="file-upload-label">Upload List of Products:</label><%= form.file_field :image %>
        				<span class="focus-input100"></span>
        	        </div><br/><br/>
                </div>
                
                <div class="skip box">
                    Basket Genie is creating your basket...
                </div>
            
                <div class="wrap-input100-list1 validate-input m-b-16" data-validate="Please enter value">
        			<%= form.text_field :budget_price, :class => "input100", :placeholder => "Add Budget", :required => true  %>
        			<span class="focus-input100"></span>
        	    </div><br/>
        
                <%= form.submit "Creating Basket", :class=>"login100-form-btn", :id => "create_basket" %>
            
            <%end%>                
        </div>
        
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#default").show();
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
    
    $("#create_basket").click(function() {
         if ($("#budget_budget_price").val() == "") {
              alert("Please Enter Budget!!!");
               return false;
        } 
    })
    
    // $("#save_prod").click(function() {
    //     alert($("#prod_list").val())
    //      var item = $("#prod_list").val();
    //      var user = <%#= current_user.id %>
    //   $.ajax({
    //         type: 'post',
    //         url: "/budget/save_prod",
    //         data: {items: item,
    //               user_id: user
    //         },
    //         success: function(data) {}
    //   });
    //   return false;
    // });
    
});
</script>

<style type="text/css">
    .box{
        padding: 42px;
        display: none;
        margin-top: -3px;
    }
</style    